.card {
    background-color: #F0F4F8;
    box-shadow: 5px 5px 10px #B2BDCB;
    border: none;
  }
  
  .text-mode {
    writing-mode: vertical-rl;
    font-size: 1.2vw;
  }
  
  .text-Mode-card {
    background: linear-gradient(
      180deg,
      #FACB30 -18%,
      #FEF9C8 22.5%,
      #C49530 67.84%,
      #FFF8C4 116%
    );
  }
  
  .card-section {
    margin: 5%;
    display: flex;
    gap: 0.3vw;
  }
  
  .card-Text {
    display: flex;
    padding: 2.7vw 1vw;
    justify-content: center;
  }
  
  .text-FlexItem {
    flex: 1;
  }
  
  .text-bold {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
  }
  
  .text-center {
    margin-top: 10%;
  }
  
  .button {
    background: linear-gradient(
      180deg,
      #FACB30 -18%,
      #FEF9C8 22.5%,
      #C49530 67.84%,
      #FFF8C4 116%
    );
    border: none;
    font-family: sans-serif;
    color: #333;
    cursor: pointer;
  }
  
  .button-flex {
    display: flex;
    gap: 10%;
  }
  
  .button-flex p{
    font-size: 0.7vw;
  }