
* {
  font-family: 'Segoe UI';
  font-size: 10pt;
  margin-left: 2%;
}

.arrow-up,
.arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
  top: 30%;
  left: 37%;
  transform: translateY(-50%);
}

.arrow-up {
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #FACB30 transparent;
}

.arrow-down {
  border-width: 15px 15px 0 15px;
  border-color: #FACB30 transparent transparent transparent;
  margin-top: 15px;
}

.circle {
  position: relative;
  background-color: #F0F4F8;
  box-shadow: -9px -9px 10px rgba(255, 255, 255, 0.8), 0px 5px 10px rgba(169, 169, 169, 0.8);
  border-radius: 100%;
  width: 9vw;
  height: 9vw;
  padding: 40% 2%;
  line-height: 1;
  text-align: center;
  margin-top: 50px;
  z-index: 2;

  &:not(:first-child):before {
    position: absolute;
    content: '';
    width: 2px;
    height: 50px;
    background: linear-gradient(
      180deg,
      #FACB30 -18%,
      #FEF9C8 22.5%,
      #C49530 67.84%,
      #FFF8C4 116%
    );
    left: 50%;
    top: -50px;
    margin-left: -1px;
    z-index: 1;
  }

  &:first-child {
    margin-top: 0;

    &:before {
      content: none;
    }
  }

  
  br {
    margin-top: 10px;
  }
}
