.Package_container{
   margin-bottom: 5%;
}
.header{
  padding-left: 40%;
  font-size: 40px;
  font-weight: 500;
  color : white
}
.section_container {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    margin: 0% 5%;
  }
  
  .Section_Img img{
    width: 500px;
    height: 500px;
    border-radius: 25px;
  }
  .content_container{
    display: flex;
    justify-content: space-between; 
    text-align: left;
    margin: 0% 5%;
  }

  .Section_content {
    flex: 1; 
    margin: 10px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 45px;
  }

  .Section_content  h3{
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .Section_content img{
    width: 70px;
    margin-top: 10%;
  }
  
  .Section_content:hover {
    background-color: rgb(65, 179, 84);
    color: white;
  }

  .Section_content button{
    background-color: rgb(65, 179, 84)  ;
    padding: 5px 15px;
    border-radius: 25px;
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .Section_content:hover button {
    background-color: white;
    color: rgb(65, 179, 84)  ;
    color: rgb(65, 179, 84);
  }