body {
  background-color:  #e6e7ee;
}

.chart{
  margin: 5% 40% 5% 5%;
  border: solid #cecccc 2px;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff
}

.chat{
  margin: 5% 40% 5% 5%;
  border: solid #cecccc 2px;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #ffffff;
  background-color:  #e6e7ee;
}